.top {
    background: linear-gradient(115.92deg, #0573E6 0%, #00ABFF 100%);
    text-align: center;
    display: table;
    float: left;
    width: 100%;
    padding: 70px 0;
}
.top .content {
    padding-top: 100px;
    display: table-cell;
    vertical-align: middle;
}
.top h1 {
    margin-bottom: 0;
    line-height: 140%;
}

#contents {
    padding-top: 80px;
    padding-bottom: 80px;
}
